html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  background: url("/src/images/bg-intro-mobile.png") no-repeat #FF7979;
  background-size: cover;
  padding: 0;
  margin: 0;
}

/* TYPOGRAPHY */
.header {
  color: #FFFFFF;
}

.header-title {
  font-size: 1.75rem;
  font-weight: 700;
}

.header-text {
  font-size: 1rem;
  font-weight: 500;
}

.subtitle-container {
  color: #FFFFFF;
}

.subtitle,
.subtitle-accent {
  font-size: .9375rem;
}

.subtitle-accent {
  font-weight: 700;
}

.subtitle {
  font-weight: 400;
}

.form-input {
  font-size: .875rem;
  letter-spacing: .25px;
  color: #3D3B48;
  font-weight: 600;
  text-indent: 10px;
}

.form-btn {
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-subtext {
  font-size: .6875rem;
  color: #BAB7D4;
  font-weight: 500;
}

.form-subtext-accent {
  font-weight: 700;
  color: #FF7979;
}

/* LAYOUT */

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header {
  max-width: 327px;
  margin: 5em auto 4.5em;;
}

.subtitle-container {
  background-color: #5E54A4;
  max-width: 327px;
  margin: 0 auto 1.25em;
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

.subtitle {
  padding: 1.5em 4em;
}

.form {
  background-color: #FFFFFF;
  max-width: 327px;
  margin: 0 auto 3em;
  padding: 1.5em 0 1.5em;
  border-radius: 10px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}

.form-input-container {
  max-width: 279px;
  margin: 0 auto;
  position: relative;
}

.form-input {
  width: 100%;
  height: 56px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}

.form-input:focus {
  border: 1px solid #5E54A4;
  outline: none;
}

.error-icon {
  position: absolute;
  top: 16px;
  right: 20px;
}

.error-msg {
  color: #FF7979;
  font-size: .6875rem;
  margin-top: 0.5em;
  margin-bottom: 1.25em;
  text-align: right;
  font-style: italic;
}

.form-btn {
  height: 56px;
  background-color: #38CC8B;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  border-radius: 5px;
  border: none;
  margin-bottom: .5em;
  padding: 0 3.5em;
}

.form-btn:hover,
.form-btn:focus {
  cursor: pointer;
  opacity: .7;
}

.form-subtext {
  max-width: 249px;
  margin: 0 auto;
}

@media (min-width: 950px) {
  body {
    background: url("/src/images/bg-intro-desktop.png") no-repeat #FF7979;
    background-size: cover;
  }

  .container {
    max-width: 1200px;
    display: grid;
    margin-top: 7em;
    grid-template-columns: repeat(2, 50%);
  }

  .header {
    align-self: center;
    text-align: left;
    max-width: 525px;
  }

  .header-title {
    font-size: 3.125rem;
    line-height: 55px;
  }

  .footer {
    grid-column: 1 / 3;
  }

  .subtitle-container,
  .form {
    max-width: 540px;
  }

  .form {
    padding: 3em 0;
  }

  .form-input-container {
    max-width: 460px;
  }

  .form-btn {
    padding: 0 10.30em;
    margin-bottom: .75em;;
  }

  .form-subtext {
    max-width: 369px;
  }
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }